$color-black-1: #000;
$color-black-2: #1F2125;
$color-black-2-rgba-10: rgba(31,33,37,0.1);
$color-black-3: #141414;

$color-white: #fff;
$color-grey-1: #ECEFF3;
$color-grey-2: #a9aaac;
$color-grey-3: #747C8B;
$color-grey-4: #36414C;
$color-grey-4-rgba-0: rgba(54,65,76,0);
$color-grey-4-rgba-50: rgba(54,65,76,0.5);

$color-purple-1: #764DA5;
$color-purple-2: #9348FC;
$color-purple-3: #6B6FD4;
$color-purple-4: #8D3AD8;
$color-purple-5: #9747FF;

$color-pink: #E35ACC;

$color-red-1: #FF5E55;
$color-red-2: #D22F27;

$color-blue-1: #3094FF;
$color-blue-2: #3574D6;
$color-blue-2-rgba-70: rgba(53, 116, 214, 0.7);
$color-blue-3: #200847;
$color-blue-4: #667EE9;
$color-blue-5: #2E5FFF;
$color-blue-6: #10A3A3;
$color-blue-7: #96BCF5;

$color-yellow-1: #FFCD05;

$color: $color-white;
$bg-main: $color-grey-1;